<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>Artist</th>
      <th>Venue</th>
      <th>Concert Date</th>
      <th>Tickets</th>
      <th>
    </tr>
  </thead>
  <tbody>
    <% @concerts.each do |x| %>
      <tr>
        <td>
          <% unless x["image"].nil? %>
          <img src= <%= x["image"]["medium"]["url"]%>>
          <% else %>
          <img src= "http://img2.wikia.nocookie.net/__cb20141105223610/r2d/images/7/73/Dogepic.png", length="128", width="128">
          <% end %>
        </td>
        <td><%= x["title"] %></td>
        <td><%= x["venue_name"] %></td>
        <td><%= Date.parse(x["start_time"]) %></td>
        <td><%= link_to "Search For Tickets", x["url"] %></td>
      </tr>
    <% end %>
</table> 