
<!--Content-->
    <section id="page-title" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Upcoming Concerts</h3>
          </div>
        </div>
      </div>
    </section>

    <!--Flash Message-->
    <div class="container">
      <div class="flash">
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= flash_class name %>" style="text-align: center">
          <%= msg %>
        </div>
        <% end %>
      </div>
    </div>

  <section>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3 text-center signup">
        <div class="row margin-40">
          <%= form_tag zip_edit_path, method: :post %>
          <class="form-horizontal">
            <div class="control-group">
              <div class="controls">
                <div class="input-prepend">
                    <input type="text" class="input-xlarge" id="zip_code" name="zip_code" placeholder="Zip Code">
                  </div>
                </div>
              </div>
                
              <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn-main"><i class="fa fa-sign-in"></i> Update</button>
                </div>
              </div>
            
            </form>
          </div>
        </div>
    </div>
  </section>
  <br>
  <br>
  <br>

    <!--Content-->      
    <section id="content2" class="section">
      <div class="container">
        <div class="row">

      <!--Blog Post-->
      <% unless @concerts.nil? %>
        <%@concerts.each do |x| %>
        <article class="blog-post margin-60">
          <div class="date-container"><%= Date::MONTHNAMES[Date.parse(x["start_time"]).month] %> 
          <span class="day"><%= Date.parse(x["start_time"]).day %></span></div>
                <img class="image-container" style="background-image: url(<%= Album.find_by(artist: x["title"]).thumbnail %>);">
              <h3><%= x["title"] %></a> ~ <a href=<%= x["venue_url"]%> target="_blank"><%= x["venue_name"] %></a></h3>
                <br />
              <a class="btn-main" href=<%= x["url"] %> target="_blank"><i class="fa fa-eye"></i>  Find Tickets</a>
              <br>
              <br>
              <%= form_tag add_concert_path(x), method: :post %><button class="btn-main add-concert" data-id=<% x %> data-action="add"><i class="fa fa-calendar"></i>  Add to Google Calendar</button></form>
            </article>
            <% end %>
          <% end %>
          </div>
      </div>
</section>