<!--Content-->
    <section id="page-title" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Upcoming Albums</h3>
          </div>
        </div>
      </div>
    </section>
      
     
    <!--Work-->
    <section id="content2" class="section">
      <div class="container text-center">          
          
          <div class="row margin-40" id="albums_list">

            <% @albums.each do |x| %>
              <% unless x.release_date < Time.now %>
            <!--Project Thumbnail One-->
            <div class="col-sm-3">
              <div class="thumbs">
                <div class="image-container" style="background-image: url(<%= x.thumbnail %>);">
                  <a href="individual-work.html">
                    <span class="title">
                      <span><i class="fa fa-link fa-2x"></i></span>
                    </span> 
                  </a>
                </div>
              </div>
              
              <div class="project-title margin-30">
                <h4><%= x.artist %></h4>
                <h4><%= x.album_title %></h4>
                <% if @favorites.include? x.id %>
                  <%= form_tag unfavorite_album_path(x), method: :delete %>
                  <button class="btn btn-danger" data-id=<%=x.id%> data-action="unfavorite">Unfollow</button></form>
              <% else %>
                  <%= form_tag favorite_album_path(x), method: :post %>
                  <button class="btn btn-success" data-id=<%=x.id%> data-action="favorite">Follow</button></form>
              <% end %>
              </div>
            </div>
              <% end %>
            <% end %>

          </div>
            
      </div><!--End Row of Work-->


