<section>
<!-- Carousel
    Change your images in the main.css file.
    ================================================== -->
    <div id="header" class="carousel slide animated fadeIn" data-ride="carousel">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#header" data-slide-to="0" class="active"></li>
        <li data-target="#header" data-slide-to="1"></li>
        <li data-target="#header" data-slide-to="2"></li>
      </ol>
      
      <div class="carousel-inner">
        <div class="item one active">
          <div class="container animated fadeInUp">
            <div class="carousel-caption">
            <h1>Introducing MusicMinder!</h1>
              <p class="lead margin-40"><em>Manage your favorite release dates!</em></p>
            </div>
          </div>
        </div>
        <div class="item two">
          <div class="container">
            <div class="carousel-caption">
              <h1>Find Upcoming Albums!</h1>
              <p class="lead margin-40"><em>Check out our list of upcoming album releases and have them added to your Google Calendar!</em></p>
              <a class="btn-main" href="<%= albums_list_path %>"><i class="icon-chevron-right"></i> Albums</a>
            </div>
          </div>
        </div>
        <div class="item three">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get Ready For The Show!</h1>
              <p class="lead margin-40"><em>Find concert dates near you for artists you have favorited with one click!</em></p>
              <a class="btn-main" href="<%= concerts_path %>"><i class="icon-chevron-right"></i> Concerts</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div><!-- /.carousel -->
  </section>

    <% if current_user %>
      <section id="page-title" class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h3>My Favorites</h3>
            </div>
          </div>
        </div>
      </section>

      <section id="content2" class="section">
        <div class="container text-center">          
            
          <div class="row margin-40" id="albums_list">
            <% @favorites.each do |x| %>
              <% y = Album.find(x) %>
                  <!--Project Thumbnail One-->
                  <div class="col-sm-3">
                    <div >
                      <div class="date-container"><%= Date::MONTHNAMES[y.release_date.month] %> 
                        <span class="day"><%= y.release_date.day %></span>
                      </div>
                        <div class="image-container" style="background-image: url(<%= y.thumbnail %>);">
                        </div>
                    
                
                        <div class="project-title margin-30">
                          <% unless y.spotify_id.nil? %>
                            <h5><a href="https://open.spotify.com/artist/<%=y.spotify_id%>", target="_blank"><%= y.artist %></a></h5>
                          <% else %>
                            <h5><%= y.artist %></h5>
                          <% end %>
                          <h5><%= y.album_title %></h5>
                        </div>
                    </div>
                  </div>
            <% end %>
          </div>
        </div><!--End Row of Work-->
      </section>
    <% end %>

