<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<meta charset="utf-8">
<title>MusicMinder</title>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="https://m1.behance.net/rendition/modules/109467859/disp/1ad64b454d596a05418654113d81ef15.jpg" height= "85", length="70">
        <a class="navbar-brand" href="/"><h4>MusicMinder</h4></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mind Your Music <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Albums", albums_list_path %></li>
              <li><%= link_to "My Concerts", concerts_path %></li>
              <% unless current_user %>
                <li><a href="/users/auth/google_oauth2">Login</a>
              <% else %>
                <li><%= link_to "Logout", destroy_user_session_path, {method: :delete } %></li>
              <% end %>
            </ul>
          <% unless current_user %>
          <li><a href="/users/auth/google_oauth2">Login</a></li>
          <% else %>
          <li><%= link_to "Logout", destroy_user_session_path, {method: :delete } %></li>
          <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
 
 <!--Flash Message-->
    <div class="container">
      <div class="flash">
        <% flash.each do |name, msg| %>
        <div class="alert alert-<%= flash_class name %>" style="text-align: center">
          <%= msg %>
        </div>
        <% end %>
      </div>
    </div>
    
  <%= yield %>

  <!--Bottom Section-->
  <section id="bottom">
    <div class="container">
      <div class="row margin-40">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <p>|Email|  <a href="mailto:rob.spamfolder@gmail.com"><i class="icon-envelope-alt"></i> rob.spamfolder@gmail.com</a></p>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <!--Social Icons-->          
          <ul class="social-icons">
            <li><a class="twitter" href="http://www.twitter.com/lag0s" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a class="facebook" href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
            <li><a class="Github" href="http://www.github.com/rob-hutchinson" target="_blank"><i class="fa fa-github-alt fa-3x"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <p>@ Copyright. All Rights Reserved. Created by Robert Hutchinson and TeamTrashcanFire Affiliates.</p>
        </div>
      </div>
    </div>
  </section>


</body>
</html>

